# **Project Exam**

**AI Usage Statement**: ChatGPT was used exclusively as a supporting technology for learning Python functions and methods, not for copying scripts, but for exploring alternative and more efficient approaches.

In [83]:
import pandas as pd
import zstandard as zstd
import os
import calendar
import glob
import json

 1) Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [84]:
folder='/Users/dianaradchenko/Desktop/Progetto CS/trendingYT/'
folder

'/Users/dianaradchenko/Desktop/Progetto CS/trendingYT/'

In [85]:
files = os.listdir(folder)
files

['IN_category_id.json',
 'USvideos.csv.zst',
 'FRvideos.csv.zst',
 'MXvideos.csv.zst',
 'RU_category_id.json',
 'JP_category_id.json',
 'FR_category_id.json',
 'INvideos.csv.zst',
 'GB_category_id.json',
 'KRvideos.csv.zst',
 'KR_category_id.json',
 'JPvideos.csv.zst',
 'DEvideos.csv.zst',
 'MX_category_id.json',
 'CAvideos.csv.zst',
 'CA_category_id.json',
 'US_category_id.json',
 'RUvideos.csv.zst',
 'DE_category_id.json',
 'GBvideos.csv.zst']

In [86]:
#seleziono solo i file .csv.zst
files_csv=[]
for f in files:
    if f.endswith('.csv.zst'):
        files_csv.append(f)
files_csv

['USvideos.csv.zst',
 'FRvideos.csv.zst',
 'MXvideos.csv.zst',
 'INvideos.csv.zst',
 'KRvideos.csv.zst',
 'JPvideos.csv.zst',
 'DEvideos.csv.zst',
 'CAvideos.csv.zst',
 'RUvideos.csv.zst',
 'GBvideos.csv.zst']

In [87]:
#unisco i file in un unico dataframe
df = pd.read_csv(folder+files_csv[0],encoding='latin-1')
df["Country"]=files_csv[0][:2]

for f in range(1,len(files_csv)):
    ds = pd.read_csv(folder+files_csv[f],encoding="latin-1")
    ds["Country"]=files_csv[f][:2]
    df=pd.concat([df,ds], ignore_index=True)

display(df.head(10))

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Country
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...,US
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US
5,gHZ1Qz0KiKM,17.14.11,2 Weeks with iPhone X,iJustine,28,2017-11-13T19:07:23.000Z,"ijustine|""week with iPhone X""|""iphone x""|""appl...",119180,9763,511,1434,https://i.ytimg.com/vi/gHZ1Qz0KiKM/default.jpg,False,False,False,Using the iPhone for the past two weeks -- her...,US
6,39idVpFF7NQ,17.14.11,Roy Moore & Jeff Sessions Cold Open - SNL,Saturday Night Live,24,2017-11-12T05:37:17.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",2103417,15993,2445,1970,https://i.ytimg.com/vi/39idVpFF7NQ/default.jpg,False,False,False,Embattled Alabama Senate candidate Roy Moore (...,US
7,nc99ccSXST0,17.14.11,5 Ice Cream Gadgets put to the Test,CrazyRussianHacker,28,2017-11-12T21:50:37.000Z,"5 Ice Cream Gadgets|""Ice Cream""|""Cream Sandwic...",817732,23663,778,3432,https://i.ytimg.com/vi/nc99ccSXST0/default.jpg,False,False,False,Ice Cream Pint Combination Lock - http://amzn....,US
8,jr9QtXwC9vc,17.14.11,The Greatest Showman | Official Trailer 2 [HD]...,20th Century Fox,1,2017-11-13T14:00:23.000Z,"Trailer|""Hugh Jackman""|""Michelle Williams""|""Za...",826059,3543,119,340,https://i.ytimg.com/vi/jr9QtXwC9vc/default.jpg,False,False,False,"Inspired by the imagination of P.T. Barnum, Th...",US
9,TUmyygCMMGA,17.14.11,Why the rise of the robots wonât mean the en...,Vox,25,2017-11-13T13:45:16.000Z,"vox.com|""vox""|""explain""|""shift change""|""future...",256426,12654,1363,2368,https://i.ytimg.com/vi/TUmyygCMMGA/default.jpg,False,False,False,"For now, at least, we have better things to wo...",US

2) Extract all videos that have no tag.

In [88]:
df[df['tags'].isnull()]

Empty DataFrame
Columns: [video_id, trending_date, title, channel_title, category_id, publish_time, tags, views, likes, dislikes, comment_count, thumbnail_link, comments_disabled, ratings_disabled, video_error_or_removed, description, Country]
Index: []

3. For each channel, determine the total number of views

In [89]:
dfg = df.groupby('channel_title')['views'].sum().sort_values(ascending=False).reset_index()
display(dfg.head(10))

          channel_title        views
0   ChildishGambinoVEVO  11016766510
1  Marvel Entertainment  10430605449
2            NickyJamTV   9479859505
3                 Ozuna   8623329509
4               ibighit   8205572221
5             DrakeVEVO   7637228580
6             Bad Bunny   7124207494
7      ArianaGrandeVevo   6202230488
8      jypentertainment   5802822913
9            Ed Sheeran   5775405574

4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [90]:
excluded = df[((df['ratings_disabled'] == True) & (df['comments_disabled'] == True)) 
   | (df['video_error_or_removed'] == True)]
excluded
# rimuovo righe dal dataframe originale
df = df.drop(excluded.index)
df.head(10)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Country
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,US
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",US
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...,US
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,US
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,US
5,gHZ1Qz0KiKM,17.14.11,2 Weeks with iPhone X,iJustine,28,2017-11-13T19:07:23.000Z,"ijustine|""week with iPhone X""|""iphone x""|""appl...",119180,9763,511,1434,https://i.ytimg.com/vi/gHZ1Qz0KiKM/default.jpg,False,False,False,Using the iPhone for the past two weeks -- her...,US
6,39idVpFF7NQ,17.14.11,Roy Moore & Jeff Sessions Cold Open - SNL,Saturday Night Live,24,2017-11-12T05:37:17.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",2103417,15993,2445,1970,https://i.ytimg.com/vi/39idVpFF7NQ/default.jpg,False,False,False,Embattled Alabama Senate candidate Roy Moore (...,US
7,nc99ccSXST0,17.14.11,5 Ice Cream Gadgets put to the Test,CrazyRussianHacker,28,2017-11-12T21:50:37.000Z,"5 Ice Cream Gadgets|""Ice Cream""|""Cream Sandwic...",817732,23663,778,3432,https://i.ytimg.com/vi/nc99ccSXST0/default.jpg,False,False,False,Ice Cream Pint Combination Lock - http://amzn....,US
8,jr9QtXwC9vc,17.14.11,The Greatest Showman | Official Trailer 2 [HD]...,20th Century Fox,1,2017-11-13T14:00:23.000Z,"Trailer|""Hugh Jackman""|""Michelle Williams""|""Za...",826059,3543,119,340,https://i.ytimg.com/vi/jr9QtXwC9vc/default.jpg,False,False,False,"Inspired by the imagination of P.T. Barnum, Th...",US
9,TUmyygCMMGA,17.14.11,Why the rise of the robots wonât mean the en...,Vox,25,2017-11-13T13:45:16.000Z,"vox.com|""vox""|""explain""|""shift change""|""future...",256426,12654,1363,2368,https://i.ytimg.com/vi/TUmyygCMMGA/default.jpg,False,False,False,"For now, at least, we have better things to wo...",US

5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [91]:
df['like_ratio']=round(df['likes']/df['dislikes']*100,2)
df[['video_id', 'views', 'likes', 'dislikes', 'like_ratio']].head(10)

      video_id    views   likes  dislikes  like_ratio
0  2kyS6SvSYSE   748374   57527      2966     1939.55
1  1ZAPwfrtAFY  2418783   97185      6146     1581.27
2  5qpjK5DgCt4  3191434  146033      5339     2735.21
3  puqaWrEC7tY   343168   10172       666     1527.33
4  d380meD0W0M  2095731  132235      1989     6648.32
5  gHZ1Qz0KiKM   119180    9763       511     1910.57
6  39idVpFF7NQ  2103417   15993      2445      654.11
7  nc99ccSXST0   817732   23663       778     3041.52
8  jr9QtXwC9vc   826059    3543       119     2977.31
9  TUmyygCMMGA   256426   12654      1363      928.39

6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [92]:
df['publish_time_10min'] = pd.to_datetime(df['publish_time']).dt.floor('10min')
df['interval'] = df['publish_time_10min'].dt.strftime('%H:%M') + '-' + \
                  (df['publish_time_10min'] + pd.Timedelta(minutes=10)).dt.strftime('%H:%M')
df[['video_id','publish_time', 'publish_time_10min', 'interval']].head(10)

,video_id,publish_time,publish_time_10min,interval
0,2kyS6SvSYSE,2017-11-13T17:13:01.000Z,2017-11-13 17:10:00+00:00,17:10-17:20
1,1ZAPwfrtAFY,2017-11-13T07:30:00.000Z,2017-11-13 07:30:00+00:00,07:30-07:40
2,5qpjK5DgCt4,2017-11-12T19:05:24.000Z,2017-11-12 19:00:00+00:00,19:00-19:10
3,puqaWrEC7tY,2017-11-13T11:00:04.000Z,2017-11-13 11:00:00+00:00,11:00-11:10
4,d380meD0W0M,2017-11-12T18:01:41.000Z,2017-11-12 18:00:00+00:00,18:00-18:10
5,gHZ1Qz0KiKM,2017-11-13T19:07:23.000Z,2017-11-13 19:00:00+00:00,19:00-19:10
6,39idVpFF7NQ,2017-11-12T05:37:17.000Z,2017-11-12 05:30:00+00:00,05:30-05:40
7,nc99ccSXST0,2017-11-12T21:50:37.000Z,2017-11-12 21:50:00+00:00,21:50-22:00
8,jr9QtXwC9vc,2017-11-13T14:00:23.000Z,2017-11-13 14:00:00+00:00,14:00-14:10
9,TUmyygCMMGA,2017-11-13T13:45:16.000Z,2017-11-13 13:40:00+00:00,13:40-13:50

7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [93]:
dfg2 = df.groupby('interval').agg({
    'video_id': 'count',      # numero di video
    'likes': 'mean',          # media like
    'dislikes': 'mean'        # media dislike
}).reset_index()
#arrotondo le medie
dfg2['likes']= round(dfg2['likes'],2)
dfg2['dislikes']= round(dfg2['dislikes'],2)
dfg2.rename(columns={'video_id': 'videos num', 'likes': 'likes avg', 'dislikes': 'dislikes avg'}, inplace=True)

dfg2

        interval  videos num  likes avg  dislikes avg
0    00:00-00:10        2897   61288.12       3808.15
1    00:10-00:20        1509   22748.14       1449.84
2    00:20-00:30        1241   21378.28       1072.34
3    00:30-00:40        1614   36853.56        955.89
4    00:40-00:50        1269   42198.62       1909.30
..           ...         ...        ...           ...
139  23:10-23:20        1554   22783.84       1110.17
140  23:20-23:30        1438   30696.51       1177.02
141  23:30-23:40        1666   18159.17        874.18
142  23:40-23:50        1466   45736.58       9341.55
143  23:50-00:00        1269   10853.74        505.70

[144 rows x 4 columns]

8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

In [94]:
# analisi tag
dft=df
dft['tags'] = dft['tags'].str.split('|')
#normalizzo i tag
tag_counts = (
    dft.explode('tags')
      .assign(tags=lambda x: x['tags']
              .str.replace('"', '', regex=False)  # remove quotes
              .str.strip())                       # remove spaces
      .groupby('tags')
      .size()
      .reset_index(name='video_count')
      .sort_values('video_count', ascending=False)
      .reset_index(drop=True)
)
tag_counts = tag_counts[tag_counts['tags'] != '[none]']
display(tag_counts.head(10))

          tags  video_count
1        funny        15039
2       comedy        12351
3         2018        11383
4         news         6363
5        music         5909
6         2017         5688
7        video         5612
8        humor         5057
9   television         4170
10        show         4146

9. Find the tags with the largest number of videos

In [95]:
top_tag = tag_counts.head(1)
display(top_tag)

    tags  video_count
1  funny        15039

10. For each (tag, country) pair, compute average ratio likes/dislikes

In [96]:
#copia del dataframe originale
df_tags = df.copy()

df_tags["tags_clean"] = df_tags["tags"].astype(str).str.strip().str.replace('"', '', regex=False)

df_tags["tag"] = df_tags["tags_clean"].str.split("|")

df_tags = df_tags.explode("tag")

#rimuovo spazi residui e tag vuoti
df_tags["tag"] = df_tags["tag"].str.strip()
df_tags = df_tags[df_tags["tag"].notna() & (df_tags["tag"] != "")]

#calcolo la media like_ratio per (tag, Country)
result = (
    df_tags
    .groupby(["tag", "Country"])["like_ratio"]
    .mean()
    .reset_index(name="avg_like_ratio")
    .sort_values(by="avg_like_ratio", ascending=False)
)

display(result)

,tag,Country,avg_like_ratio
157111,[ã\x83¢ã\x83¼ã\x83\x8bã\x83³ã\x82°å¨\x98ã\x80\...,JP,inf
91089,"['michael bully herbig', 'christian tramitz', ...",DE,inf
91088,"['michael bully herbig', 'christian tramitz', ...",DE,inf
26078,"['Johnny Hallyday', 'Hallyday', 'Jhonny', 'mor...",FR,inf
91251,"['millie bobby brown', 'finn wolfhard', 'gaten...",FR,inf
...,...,...,...
156816,[The Walking Dead 8x16 Rick heals Negan's woun...,MX,NaN
156993,"[f1 mad max ricciardo 'Formula, '1\'', '\'F1\'...",JP,NaN
157011,"[hawaii's kilauea volcano, 'hawaii volcano eru...",CA,NaN
157015,"[i'll stand by you, 'mr. adderley', 'boca high...",US,NaN
157016,"[i'll stand by you, 'mr. adderley', 'boca high...",US,NaN

11. For each (trending_date, country) pair, the video with the largest number of views

In [97]:
# raggruppo per trending_date e Country e prendo la riga con views massime
top_videos = df.sort_values('views', ascending=False).groupby(['trending_date', 'Country']).head(1)

display(top_videos[['trending_date', 'Country', 'title', 'views']].head(20))

,trending_date,Country,title,views
365438,18.07.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,424538912
365238,18.06.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,413586699
365034,18.05.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,402650804
364837,18.04.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,392036878
364641,18.03.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,382401497
364450,18.02.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,372399338
364267,18.01.04,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,362111555
364078,18.31.03,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,349987176
363887,18.30.03,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,339629489
371486,18.18.05,GB,"Te Bote Remix - Casper, Nio GarcÃ­a, Darell, N...",337621571
362571,18.23.03,GB,Bad Bunny - Amorfoda | Video Oficial,328860380
371318,18.17.05,GB,"Te Bote Remix - Casper, Nio GarcÃ­a, Darell, N...",328024035
363697,18.29.03,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,326890258
362367,18.22.03,GB,Bad Bunny - Amorfoda | Video Oficial,322211201
362163,18.21.03,GB,Bad Bunny - Amorfoda | Video Oficial,315860445
363503,18.28.03,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,312945464
361961,18.20.03,GB,Bad Bunny - Amorfoda | Video Oficial,310074566
361764,18.19.03,GB,Bad Bunny - Amorfoda | Video Oficial,304530584
361566,18.18.03,GB,Bad Bunny - Amorfoda | Video Oficial,299857997
363306,18.27.03,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,299697019

12. Divide trending_date into three columns: year, month, day

In [98]:
#converto la colonna tranding_date in formato corretto
df['trending_date'] = pd.to_datetime(df['trending_date'], format='%y.%d.%m')

# Estraggo anno, mese, giorno
df['year'] = df['trending_date'].dt.year
df['month'] = df['trending_date'].dt.month
df['day'] = df['trending_date'].dt.day

display(df[['trending_date', 'year', 'month', 'day']].head(10))

  trending_date  year  month  day
0    2017-11-14  2017     11   14
1    2017-11-14  2017     11   14
2    2017-11-14  2017     11   14
3    2017-11-14  2017     11   14
4    2017-11-14  2017     11   14
5    2017-11-14  2017     11   14
6    2017-11-14  2017     11   14
7    2017-11-14  2017     11   14
8    2017-11-14  2017     11   14
9    2017-11-14  2017     11   14

13. For each (month, country) pair, the video with the largest number of views

In [99]:
# raggruppo per month e Country e prendo la riga con views massime
top_videos = (
    df.sort_values('views', ascending=False)
            .groupby(['month', 'Country'], as_index=False)
            .head(1)
)

# trasformo il numero del mese in nome del mese
top_videos['month_name'] = top_videos['month'].apply(lambda x: calendar.month_name[int(x)] if pd.notnull(x) else '')

display(top_videos[['month_name', 'Country', 'title', 'views']].head(20))

,month_name,Country,title,views
365438,April,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,424538912
364078,March,GB,Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...,349987176
371486,May,GB,"Te Bote Remix - Casper, Nio GarcÃ­a, Darell, N...",337621571
357983,February,GB,Ozuna x Romeo Santos - El Farsante Remix,280125114
375427,June,GB,Childish Gambino - This Is America (Official V...,259721696
38547,June,US,Childish Gambino - This Is America (Official V...,225211923
38146,May,US,Childish Gambino - This Is America (Official V...,217750076
345215,December,GB,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,169884583
6181,December,US,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,149376127
339820,November,GB,Ed Sheeran - Perfect (Official Music Video),138578860
261306,December,CA,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,137843120
127532,December,IN,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,125432237
164332,December,KR,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,113876217
220021,December,DE,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,113876217
2587,November,US,"Luis Fonsi, Demi Lovato - Ãchame La Culpa",102012605
86934,December,MX,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,100912384
46291,December,FR,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,100911567
289767,May,CA,Childish Gambino - This Is America (Official V...,98938809
349789,January,GB,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,90598955
190320,May,KR,BTS (ë°©íìë ë¨) 'FAKE LOVE' Official MV,87430865

14. Read all json files with the video categories

In [100]:
path = folder

#prendo tutti i file *_category_id.json
files = glob.glob(os.path.join(path, "*_category_id.json"))

dfs = []
#apro ogni file json 
for file in files:
    
    with open(file, "r", encoding="utf-8") as f:
        data = json.load(f)

    #normalizzo la lista "items"
    dfc = pd.json_normalize(data["items"])

    #aggiungo il nome del file
    dfc["source_file"] = os.path.basename(file)

    dfs.append(dfc)

#unisco tutti i dataframe dei file json 
final_df = pd.concat(dfs, ignore_index=True)

#estraggo il country code dal nome file 
final_df["country"] = final_df["source_file"].str[:2]

final_df = final_df.rename(columns={
    "snippet.title": "category_name",
    "snippet.assignable": "assignable"
})

display(final_df)

,kind,etag,id,snippet.channelId,category_name,assignable,source_file,country
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True,IN_category_id.json,IN
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True,IN_category_id.json,IN
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True,IN_category_id.json,IN
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True,IN_category_id.json,IN
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True,IN_category_id.json,IN
...,...,...,...,...,...,...,...,...
306,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/N1TrDFLRppxZgBowC...",40,UCBR8-60-B28hp2BmDPdntcQ,Sci-Fi/Fantasy,False,DE_category_id.json,DE
307,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/7UMGi6zRySqXopr_r...",41,UCBR8-60-B28hp2BmDPdntcQ,Thriller,False,DE_category_id.json,DE
308,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/RScXhi324h8usyIet...",42,UCBR8-60-B28hp2BmDPdntcQ,Shorts,False,DE_category_id.json,DE
309,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/0n9MJVCDLpA8q7aiG...",43,UCBR8-60-B28hp2BmDPdntcQ,Shows,False,DE_category_id.json,DE
310,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/x5NxSf5fz8hn4loSN...",44,UCBR8-60-B28hp2BmDPdntcQ,Trailers,False,DE_category_id.json,DE

15. For each country, determine how many videos have a category that is not assignable.

In [101]:
#merge tra video e categorie usando i nomi originali
df['category_id'] = df['category_id'].astype(int)
final_df['id'] = final_df['id'].astype(int)
merged_df = df.merge(
    final_df[['id', 'assignable', 'country']],
    left_on=['category_id', 'Country'],
    right_on=['id', 'country'],
    how='left'
)

#filtro solo le categorie non assignable
non_assignable_df = merged_df[merged_df['assignable'] == False]

#conto il numero di video non assignable per Paese
result = non_assignable_df.groupby('Country')['video_id'].count().reset_index(name='num_non_assignable_videos')

display(result)

  Country  num_non_assignable_videos
0      CA                        130
1      DE                        110
2      FR                        112
3      GB                         20
4      IN                        221
5      KR                        167
6      MX                          3
7      RU                        195
8      US                         57